.imgBannerHeight{
    height: 410px;
    width: 100vw;
}
@media only screen and (max-width:1920px){
    .imgBannerHeight{
        height: 370px;
        width: 100vw;
    }
}

@media only screen and (max-width:600px){
    .imgBannerHeight{
        height: 200px;
        width: 100vw;
    }
}