 /* SearchBox.css */

 .searchBody {
     height: 200px;
     background-color: #15939a;
     display: flex;
     align-items: center;
     justify-content: center;

 }

 .searchBox {
     display: flex;
     align-items: center;
   background-color: #fff;
     width: 400px;
     margin: 0 auto;
     padding: 10px;
     border: 1px solid #fff;
      border-radius: 40px;


 }
 .searchBoxClick {
    display: flex;
    align-items: center;
  background-color: #fff;
    width: 400px;
    margin: 0 auto;
    padding: 10px 0px 0px 10px ;
    border: 1px solid #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;


}
 .categoryList {
    /* display: flex; */
    align-items: center;
  background-color: #fff;
    width: 400px;
    margin: 0 auto;
    padding: 0px 0px 10px 10px;
    border: 1px solid #fff;
    /* border-radius: 40px; */
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
 .searchBox input {
     flex: 1;
     padding: 8px;
     border: none;
     outline: none;
     font-size: 16px;
 }

 .searchBox button {
     padding: 8px 12px;
     margin-left: 10px;
     border: none;
     border-radius: 5px;
     background-color: #007bff;
     color: #fff;
     font-size: 16px;
     cursor: pointer;
 }
 .searchBoxClick input {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
    font-size: 16px;
}

.searchBoxClick button {
    padding: 8px 12px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
 .searchBox button:hover {
     background-color: #0056b3;
 }


 @media only screen and (max-width: 768px) {
    .searchBox {
        display: flex;
        align-items: center;
      background-color: #fff;
        width: 300px;
        margin: 0 auto;
        padding: 10px;
        border: 1px solid #fff;
         border-radius: 40px;
   
   
    }
    .searchBoxClick {
       display: flex;
       align-items: center;
     background-color: #fff;
       width: 300px;
       margin: 0 auto;
       padding: 10px 0px 0px 10px ;
       /* border: 1px solid #fff; */
       border-top-left-radius: 25px;
       border-top-right-radius: 25px;
   
   
   }
    .categoryList {
       /* display: flex; */
       align-items: center;
     background-color: #fff;
       width: 300px;
       margin: 0 auto;
       padding: 0px 0px 10px 10px;
       border: 1px solid #fff;
       /* border-radius: 40px; */
       border-bottom-left-radius: 25px;
       border-bottom-right-radius: 25px;
   }
  }